img{
  width: 100%; height: auto;
}

.app-wrapper{
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 15.5vh 1fr;
  grid-template-columns: 3fr 10fr;
  grid-gap: 10px;
  margin: 0 auto;
  width: 1050px;
}

.app-nav__link{
text-decoration: none;
color:#fff;
}

.app-content{
  grid-area:c;
}

.app-content__ava{
  width: 350px;
  height: auto;
  border: 2px solid #578686;
  border-radius: 15px;

}
